@import '../mixins';
@import '../variables';

.page {
  flex-grow: 1;
  color: white;
  position: relative;
  padding: 0 7%;
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  @include flex(column, center, flex-start);
}

@include tablet {
  .page {
    justify-content: flex-start;
    transition: transform $page-speed $normal-ease, opacity $page-speed $normal-ease;
    padding: 90px 7% 40px;
  }
}