@import '../mixins';
@import '../variables';

.page {
  flex-grow: 1;
  color: white;
  position: relative;
  padding: 0 7%;
  overflow: hidden;
  @include flex(column, center, flex-start);
}

@include tablet {
  .page {
    justify-content: flex-start;
    padding: 90px 7% 40px;
  }
}