@import '../mixins';
@import '../variables';

.work {
  padding: 140px 7% 90px;
  &__head { position: relative; @include flex(flex-start, center) }
  &__header { margin-right: auto; font-size: 2.2rem; }
  &__topic {
    padding: 0px 10px;
    margin-bottom: -2px;
    font-size: 4.4rem;
    letter-spacing: 0.1rem;
    align-self: flex-end;
    color: rgba(255,255,255,0.3);
    @include position(absolute, 0 auto auto 5px, auto);
  }
  &__controls { list-style-type: none; margin: 0 -15px -6px; align-self: flex-end; @include flex(center) }
  &__control {
    &--disabled { opacity: 0; pointer-events: none; }
    font-size: 1.4rem;
    padding: 6px;
    margin: 0 15px;
    border-radius: 99px;
    transition: color $slow-speed $normal-ease, transform $slow-speed $normal-ease, opacity $slow-speed $normal-ease;
    &:hover, &:active { color: color($blue-grey, 100); transform: scale3d(1.4, 1.4, 1.4) }
  }
  &__wrapper {
    &--content { flex-grow: 1; margin-top: 30px; overflow-y: auto; overflow-x: hidden }
    &--item-link { @include flex(column); }
  }
  &__content { flex-wrap: wrap; @include flex(space-between, flex-start) }
  &__item {
    width: 48%;
    margin-bottom: 40px;
    &-header { font-size: 1.5rem; letter-spacing: 0.02rem; }
    &-sideheader { font-weight: normal }
    &-subheader {
      font-size: 1rem;
      color: color($blue-grey, 100);
      font-weight: normal;
      margin: 2px 0 10px;
    }
    &-text {
      width: 80%;
    }
    &-list {
      margin: 5px 1px 0;
      padding-left: 15px;
      list-style-type: none;
      border-left: 4px solid white;
      transition: color $slow-speed $normal-ease;
      &:hover { color: color($blue-grey, 100) }
    }
    &-list-item {
      padding-bottom: 6px;
      cursor: pointer;
      transition: color $slow-speed $normal-ease, transform $slow-speed $normal-ease;
      &:hover { color: white; transform: translate3d(6px, 0, 0) }
    }
    &-link-header {
      margin-top: 10px;
      font-size: 0.85rem;
      font-weight: bold;
      color: color($blue-grey, 100);
      letter-spacing: 0.06rem;
    }
    &-link {
      color: white;
      margin-top: 4px;
      font-size: 0.95rem;
      transition: color $slow-speed $normal-ease;
      &:hover, &:active { color: color($blue-grey, 100) }
    }
  }
}

// Shifts
.work {
  $self: &;
  &__content { transition: opacity $page-speed $normal-ease }
  &__topic { transition: opacity $page-speed $normal-ease, transform $page-speed $normal-ease }
  &--shift {
    & #{ $self } {
      &__topic, &__content { opacity: 0 }
      &__topic { transform: translate3d(40px, 0, 0) }
      &__content {  }
    }
  }
}

// Transitions
.work {
  $self: &;
  animation: work $page-speed $enter-ease backwards;
  @keyframes work { from { opacity: 0 } to { opacity: 1 } }

  &__head {
    animation: work__head $page-speed $enter-ease backwards;
    @keyframes work__head {
      from { transform: translate3d(0, -40px, 0); }
      to { transform: translate3d(0, 0, 0); }
    }
  }

  &__content {
    animation: work__content $page-speed $enter-ease backwards;
    @keyframes work__content {
      from { transform: translate3d(0, 40px, 0); }
      to { transform: translate3d(0, 0, 0); }
    }
  }

  &--fade {
    opacity: 0;
    transition: opacity $page-speed $normal-ease;
    & #{ $self } {
      &__head, &__content { transition: transform $page-speed $normal-ease }
      &__head { transform: translate3d(0, -40px, 0) }
      &__content { transform: translate3d(0, 40px, 0) }
    }
  }
}