@import '../mixins';
@import '../variables';

.footer {
  $self: &;
  box-sizing: border-box;
  padding: 12px $site-padding 24px;
  transition: color $slow-speed $normal-ease;
  @include position(absolute, auto auto 0, auto, 0, 0, 0);
  @include flex(flex-start, center);

  &--scrolled { background-color: color($grey, 900) }

  &__section {
    &--contact { margin-right: auto; color: white; @include flex(column) }
    &--icons { list-style-type: none; margin: 0 -18px; @include flex(center) }
  }

  &__header {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 0.04rem;
    color: white;
  }

  &__link {
    text-decoration: none;
    color: white;
    transition: color $slow-speed $normal-ease;
    &:hover { color: color($grey, 400) }
  }

  &__icon {
    font-size: 1.2rem;
    color: inherit;
    margin: 0 16px;
  }
}

// Animations
.footer {
  transition: transform $page-speed $normal-ease, opacity $page-speed $normal-ease;
  @include tablet { transform: translate3d(0, 100%, 0); opacity: 0 }

  &__section {
    &--contact {
      animation: contact $page-speed $enter-ease backwards;
      @keyframes contact {
        from { transform: translate3d(-100%, 0, 0) } to { transform: translate3d(0, 0, 0) }
      }
    }
    &--icons {
      animation: icons $page-speed $enter-ease backwards;
      @keyframes icons {
        from { transform: translate3d(100%, 0, 0) } to { transform: translate3d(0, 0, 0) }
      }
    }
  }
}