@import '../mixins';
@import '../variables';

.work {
  $self: &;
  justify-content: flex-start;
  padding: 140px 7% 90px;
  &__head { flex-shrink: 0; @include flex(flex-start, center) }
  &__header { font-size: 2.2rem; }
  &__topic {
    padding: 0px 10px;
    margin-bottom: -2px;
    font-size: 4.4rem;
    letter-spacing: 0.1rem;
    align-self: flex-end;
    color: rgba(255,255,255,0.2);
    @include position(absolute, -36px auto auto 5px, 0);
  }
  &__controls {
    list-style-type: none;
    z-index: 5;
    margin: 0 -15px -6px;
    align-self: flex-end;
    @include flex(center)
  }
  &__control {
    &--disabled { opacity: 0; pointer-events: none; }
    padding: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 99px;
    transition: opacity $slow-speed $normal-ease;
    @include flex(center);
    &:hover, &:active {
      & #{ $self }__icon {
        color: color($blue-grey, 100); transform: scale3d(1.4, 1.4, 1.4)
      }
    }
  }
  &__pdf {
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    padding: 10px 14px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color $slow-speed $normal-ease, color $slow-speed $normal-ease;
    &:hover, &:active { background-color: white; color: color($grey, 900) }
  }
  &__icon { padding: 0 6px; font-size: 1.4rem; transition: color $slow-speed $normal-ease, transform $slow-speed $normal-ease }
  &__wrapper {
    &--item-link { @include flex(column) }
    &--head { margin-right: auto; position: relative }
    &--pdf { padding: 10px 0 20px; margin-top: auto }
  }
  &__content { flex-wrap: wrap; padding-top: 30px; @include flex(space-between, flex-start) }
  &__item {
    width: 48%;
    margin-bottom: 40px;
    &-header { font-size: 1.5rem; letter-spacing: 0.02rem; }
    &-sideheader { font-weight: normal }
    &-text { width: 80% }
    &-subheader {
      font-size: 1rem;
      color: color($blue-grey, 100);
      font-weight: normal;
      margin: 2px 0 10px;
    }
    &-list {
      margin: 5px 1px 0;
      padding-left: 15px;
      list-style-type: none;
      border-left: 4px solid white;
      transition: color $slow-speed $normal-ease;
      &:hover { color: color($blue-grey, 100) }
    }
    &-list-item {
      padding-bottom: 6px;
      width: fit-content;
      transition: color $slow-speed $normal-ease, transform $slow-speed $normal-ease;
      &:hover { color: white; transform: translate3d(6px, 0, 0) }
    }
    &-link-header {
      margin-top: 10px;
      font-size: 0.85rem;
      font-weight: bold;
      color: color($blue-grey, 100);
      letter-spacing: 0.06rem;
    }
    &-link {
      color: white;
      margin-top: 4px;
      font-size: 0.95rem;
      transition: color $slow-speed $normal-ease;
      &:hover, &:active { color: color($blue-grey, 100) }
    }
  }
}

@include tablet {
  .work {
    padding: 120px 7% 20px;
    &__content { flex-direction: column }
    &__item, &__item-text { width: 100% }
  }
}

@include phone {
  .work {
    &__head { flex-direction: column; align-items: flex-start }
    &__controls { margin: 0 25px 0 -25px; width: 100%; justify-content: flex-start }
    &__topic { margin-top: -24px; font-size: 3.4rem }
    &__item { margin-bottom: 30px }
  }
}

// Shifts
.work {
  $self: &;
  &__header { transition: opacity $page-speed $normal-ease }
  &__content { transition: opacity $page-speed $normal-ease, transform $page-speed $normal-ease }
  &--shift {
    & #{ $self } {
      &__content, &__header { opacity: 0 }
      &__content { transform: translate3d(-40px, 0, 0) }
    }
  }
}

// Transitions
.work {
  $self: &;
  animation: work $page-speed $enter-ease backwards;
  @keyframes work { from { opacity: 0 } to { opacity: 1 } }

  &__head {
    animation: work__head $page-speed $enter-ease backwards;
    @keyframes work__head {
      from { transform: translate3d(0, -40px, 0); }
      to { transform: translate3d(0, 0, 0); }
    }
  }

  &__content {
    animation: work__content $page-speed $enter-ease backwards;
    @keyframes work__content {
      from { transform: translate3d(0, 40px, 0); }
      to { transform: translate3d(0, 0, 0); }
    }
  }

  &--fade {
    opacity: 0;
    transition: opacity $page-speed $normal-ease;
    & #{ $self } {
      &__head, &__content { transition: transform $page-speed $normal-ease }
      &__head { transform: translate3d(0, -40px, 0) }
      &__content { transform: translate3d(0, 40px, 0) }
    }
  }
}