@import './mixins';
@import './variables';

* {
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

body {
  max-height: 100vh;
  &::-webkit-scrollbar {
    width: 4px;
    background: color($grey, 800);
    &-thumb {
      background: color($grey, 300);
    }
  }
}

#root {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: color($grey, 900);
  @include flex(column);
}